version: '2.4'

# Docker Compose untuk Nginx Web Server
# Jalankan: docker compose -f docker-compose.nginx.yml up -d
# Note: Pastikan App sudah running

services:
  nginx:
    image: nginx:alpine
    container_name: smartagri-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docker/ssl:/etc/nginx/ssl:ro
    networks:
      - smartagri-network

networks:
  smartagri-network:
    driver: bridge
    name: smartagri-network
